[tool.poetry]
name = "todoist_api_python"
version = "2.0.2"
description = "Official Python SDK for the Todoist REST API."
readme = "README.md"
homepage = "https://github.com/Doist/todoist-api-python"
repository = "https://github.com/Doist/todoist-api-python"
documentation = "https://developer.todoist.com/rest/"
authors = ["Doist Developers <dev@doist.com>"]
keywords = ["todoist", "rest", "api", "python"]
license = "MIT"
classifiers = [
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = "^3.11.4"
requests = "^2.26.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.1"
black = "^23.7.0"
flake8 = "^6.1.0"
pre-commit = "^2.17.0"
isort = "^5.12.0"
mypy = "^0.990"
responses = "^0.22.0"
pytest-asyncio = "^0.21.0"
types-requests = "^2.31.0.2"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
